:root {
  --leter-button-color: #ececec;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image:linear-gradient(to bottom right, #339966, #006600);
  background-image: url('img/game-bank-1003151_1920.jpg');
  background-repeat: no-repeat;
  background-clip: border-box;
  height: 100vh;
}

body::before {
  opacity: 0.3;
}

header {
  padding: 0 6px;
  border-radius: 13px;
  background-color: rgba(155,155,155,0.7);
  color: black;
}

section {
  width: 97vw;
  border: 2px solid black;
  border-radius: 13px;
  background-color: rgba(155,155,155,0.7);
  color: black;
  max-width: 1000px;
  height: 67%;
}

section#ballEigth {
  left: 50%;
  transform: translateX(-50%);

}

section#slotMachine {
  left: 50%;
  transform: translateX(-50%);
}

 h2.titulo {
  text-align: center;
}

#ppt p.placar {
  text-align: center;
  font-size: 1.5rem;
}

.score {
  font-size: 2rem;
}

#ppt div {
  display: flex;
  justify-content: space-evenly;
}

#ppt div .fas {
  height: 10vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#ppt div.userSelection .fas {
  height: 10vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#ppt p.separator {
  text-align: center;
  margin: 4vmin 0;
}

#ppt div.machineSelection {
  height: 10vh;
  margin-bottom: 3vmin;
  display: flex;
  justify-content: center;
}

#ppt div.result {
  height: 5vh;
  line-height: 5vh;
}

#ppt button.resetPPT {
  padding: 6px 12px;
  border: 2px solid #f00;
  border-radius: 6px;
  background-color: #fff0;
  display: block;
  margin: 1% 2% 1% auto;
  height: 60px;
  width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(255, 0, 0, 0.3);
  color: var(--leter-button-color);
}


input[type='text']{
  height: 3vh;
  height: 45px;
  width: 90%;
  margin: 0 2.815vw;
  border-radius: 6px;
  border: 2px solid #ccc;
  background-color: #fff;
}

#ballEigth input[type='submit']{
  padding: 6px 12px;
  border: 2px solid #f00;
  border-radius: 6px;
  background-color: #fff0;
  display: block;
  margin: 1% 5% 1% auto;
  height: 60px;
  width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(255, 0, 0, 0.3);
  color: var(--leter-button-color);
}

#ballEigth div.ballAnswer {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

td {
  text-align: center;
  border: none;
}

@keyframes example {
  1% {background: red url('img/dollar-sign-solid.svg') center no-repeat;}
  15% {background: blue url('img/pepper-hot-solid.svg') center no-repeat;}
  33% {background: purple url('img/apple-alt-solid.svg') center no-repeat;}
  49% {background: pink url('img/anchor-solid.svg') center no-repeat;}
  68% {background:orange url('img/canadian-maple-leaf-brands.svg') center no-repeat;}
  84% {background: yellow url('img/crown-solid.svg') center no-repeat;}
  100% {background: url('img/heart-solid.svg') center no-repeat;}
}

.test1{
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.test2{
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.test3{
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

table {
  border-collapse: collapse;
  border: none;
  margin: 5px auto;
  height: 250px;
  width: 100%;
}

tr {
  height: 75px;
  border: none;
}

td.name {
  font-size: 2rem;
  font-weight: bold;
  border: none
}

td.slot1, td.slot2, td.slot3{
  width: 33%;
  border: 1px solid black;
}

td button.animation {
  height: 45px;
  width: 120px;
  border-radius: 6px;
  border: 2px solid red;
  background-color: #ff000066;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--leter-button-color);
}

td button.sorte {
  height: 45px;
  width: 120px;
  border-radius: 6px;
  border: 2px solid red;
  background-color: #ff000066;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--leter-button-color);
}

td button[disabled] {
  border: 2px solid #cc000033;
  background-color: #aa000022;
  color: #bbb;

}

td.lastTD {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--leter-button-color);
}

.content {
  display: none;
  position: absolute;
}

ul {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-between;
  padding:0;
}

li {
  height: 8vh;
  width: 33%;
  height: 5vh;
  line-height: 8vh;
  text-align: center;
}

label {
  display: block;
  border: 1px solid red;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 6px;
  background-color: rgba(255, 0, 0, 0.4);
  color: var(--leter-button-color);
}

.tabs {
  display: none;
}

.tabs:checked ~ label {
  background: linear-gradient(to bottom,#394c30, #ff000066 60%,  #394c30);
}

.tabs:checked ~ .content {
  display: block;
  line-height: 1.5;
}